
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Books & Reviews: Home</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </head>

    <body style="background-color:#f2f6ff">

      <nav class="navbar navbar-dark" style="height: 5%; min-height: 75px;background-color:#b2bace">
        <div class="col">
            <h3 style="color:#001c5d"> Welcome, {{ current_user.first_name }}</h3>
        </div>
        <div class="col-5"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col text-right">
            <a href="/books/add" class="btn btn-med btn-info">Add Book and Review</a>
        </div>
        <div class="col text-right">
          <a href="/logout" class="btn btn-med btn-info">Log Out</a>
        </div>
      </nav>

      <div class="row">
        <!--Column 1-->
        <div class="col-1"></div>
        <div class="col-6 pt-5">
            <h3 style="color:#001c5d">Recent Book Reviews:</h3>
            <div>
                {% for review in recent_reviews %}
                    <h5 class="mt-5"><a href="/books/{{review.book.id}}">{{review.book.title}}</a></h5>
                    <div class="mt-2 mb-2">
                        <p>Rating:</p>
                        <div>
                            {% load static %}
                            {% if review in review_one_stars %}
                              {% for i in review_one_stars %}
                                  {% if i == "gold" %}
                                  <img src="{% static 'books_reviews_app/goldstar.png' %}" alt="My image" style="display:inline; max-height: 50px;">
                                  {% endif %}
                                  {% if i == "silver" %}
                                  <img src="{% static 'books_reviews_app/greystar.png' %}" alt="My image" style="display:inline; max-height: 50px;">
                                  {% endif %}
                              {% endfor %}
                            {% endif %}
                            {% if review in review_two_stars %}
                            {% for i in review_two_stars %}
                                {% if i == "gold" %}
                                <img src="{% static 'books_reviews_app/goldstar.png' %}" alt="My image" style="display:inline; max-height: 50px;">
                                {% endif %}
                                {% if i == "silver" %}
                                <img src="{% static 'books_reviews_app/greystar.png' %}" alt="My image" style="display:inline; max-height: 50px;">
                                {% endif %}
                            {% endfor %}
                          {% endif %}
                          {% if review in review_three_stars %}
                          {% for i in review_three_stars %}
                              {% if i == "gold" %}
                              <img src="{% static 'books_reviews_app/goldstar.png' %}" alt="My image" style="display:inline; max-height: 50px;">
                              {% endif %}
                              {% if i == "silver" %}
                              <img src="{% static 'books_reviews_app/greystar.png' %}" alt="My image" style="display:inline; max-height: 50px;">
                              {% endif %}
                          {% endfor %}
                        {% endif %}
                        </div>
                        <p><a href="/users/{{ review.user.id }}">{{review.user.first_name}}</a> says: {{review.review}}</p>
                        <p>Posted on {{review.created_at}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!--Column 2-->
        <div class="col-5 mt-5">
            <h3 style="color:#001c5d">Other Books with Reviews</h3>   
            <div class="overflow-auto mt-5" sytle="height: 200px; width: 500px;">
                {% for book in all_books %}
                <h5><a href="/books/{{book.id}}"> {{book.title}}</a></h5>
                <p>by {{ book.author.name }}</p>
                {% endfor %}
            </div>
        </div>

      </div>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
      <script src="../../assets/js/vendor/popper.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
    </body>
</html>
